@charset "UTF-8";

body {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
dl {
    background-color: rgb(187, 187, 187);
    width: 500px;
}
dd {
    font-size: 15px;
            }